@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*End обнуление*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Courier, monospace, sans-serif;
  color: #000000;
}

/* Общие стили */

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #098fcf;
  padding: 15px 0;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #0fa6ec;
}
.title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.arrow__blue::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 0;
  background: url(../img/blue_arrow.svg) center center no-repeat;
  background-size: contain;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
area:focus {
  outline: 2px solid #0fa6ec;
}

/* End Общие стили */

/* Header */

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 7px;
  position: relative;
  z-index: 10;
}

.header__logo {
  margin-top: -8px;
  max-width: 220px;
  width: 100%;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  margin-right: 35px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__phone::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background: url(../img/phone.svg) center center no-repeat;
  background-size: cover;
}

.header__btns-group {
  font-size: 0;
}

.header__btns-writetous {
  padding-left: 36px;
  padding-right: 36px;
}

.header__btns-personalarea {
  position: relative;
  padding-left: 44px;
  padding-right: 14px;
}

.header__btns-personalarea::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  margin-left: -32px;
  background: url(../img/user.svg) center center no-repeat;
}

/* End Header */

/* Menu */

.menu__icon-burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12px;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu__link:hover {
  color: #098fcf;
}

.menu__arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: url("../img/arrow.svg") center center no-repeat;
  background-size: contain;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  padding: 10px;
  min-width: 90px;
}

.menu__sub-item {
  margin-bottom: 5px;
}

.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  background: url("../img/arrow.svg") center center no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._lock {
  overflow: hidden;
}

/* End Menu */

/* delivery */

.delivery {
  margin-top: 100px;
}

.delivery__container {
  font-style: normal;
}

.delivery__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.12px;
}

.delivery__form {
  margin-top: 48px;
  padding: 49px 98px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.delivery__form-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.delivery__form-span {
  color: #098fcf;
}

.delivery__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.delivery__form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 273px;
  width: 100%;
}

.delivery__form-card:not(:last-child) {
  margin-right: 14px;
}

.delivery__form-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.delivery__form-input {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 15px;
  border: 1px solid #d5d5d5;
}

.delivery__form-btn {
  padding-left: 68px;
  padding-right: 68px;
}

.delivery__form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
  margin-left: 41px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.delivery__form-checkinput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.delivery__form-checkinput:checked + .delivery__form-checkbox {
  background: url(../img/checkbox.svg) center center no-repeat;
}

.delivery__form-checkinput:focus + .delivery__form-checkbox {
  border-color: #098fcf;
}

.delivery__form-checkinput:disabled + .delivery__form-checkbox {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.delivery__form-checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  margin-left: -41px;
}

/* End delivery */

/* pricefuel */

.pricefuel {
  margin-top: 95px;
}

.pricefuel__title {
  margin-bottom: 48px;
}

.td-oil {
  background: #098fcf;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  vertical-align: top;
  padding: 16px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 16px 30px;
  vertical-align: top;
}

th,
td {
  border: 1px solid #e7e7e7;
}

/* End pricefuel */

/* deliveryfuel */

.deliveryfuel {
  margin-top: 85px;
  background: #f9f9f9;
}

.deliveryfuel__container {
  padding-top: 74px;
  padding-bottom: 74px;
}

.deliveryfuel__title {
  margin-bottom: 34px;
}

.deliveryfuel__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 71px;
  font-style: normal;
  font-weight: 400;
}

.deliveryfuel__form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 409px;
  width: 100%;
}

.deliveryfuel__label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.deliveryfuel__input {
  max-width: 409px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d5d5d5;
  margin-bottom: 16px;
}

.deliveryfuel__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

.deliveryfuel__input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

.deliveryfuel__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

.deliveryfuel__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

.deliveryfuel__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

.deliveryfuel__range {
  width: 100%;
  margin-bottom: 15px;
  margin-top: -17px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 1px;
  background-color: #098fcf;
  cursor: pointer;
}

.deliveryfuel__form-right {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.deliveryfuel__form-total {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.deliveryfuel__form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e7e7e7;
  padding: 15px 0;
}

.deliveryfuel__form-title {
  font-size: 16px;
  line-height: 140%;
}

.deliveryfuel__form-value {
  font-size: 16px;
  line-height: 140%;
}

.deliveryfuel__form-subtitle {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #565656;
}

.deliveryfuel__form-span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.deliveryfuel__form-btn {
  padding-left: 68px;
  padding-right: 68px;
  margin-top: 15px;
}

.deliveryfuel__select {
  width: 100%;
  position: relative;
}

.deliveryfuel__select::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 8px;
  background: url(../img/arrow.svg) center center no-repeat;
}

#typeoffuel {
  max-width: 409px;
  width: 100%;
  padding: 14px;
  border: 1px solid #d5d5d5;
  margin-bottom: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}

/* End deliveryfuel */

/* Wework */

.wework__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.wework__title {
  margin-bottom: 48px;
}

.wework__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.wework__card {
  width: 33.33%;
  padding: 30px;
  font-style: normal;
  font-weight: 400;
  background: #043c77;
  color: #ffffff;
}

.wework__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wework__card-img {
  margin-bottom: 30px;
  width: 64px;
  height: 64px;
}

.wework__card-time {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  position: relative;
}

.wework__card-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 22px;
}

.wework__card-subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 140%;
}

.wework__card-lastsub {
  font-size: 12px;
  line-height: 140%;
}

/* End wework */

/* benefits */

.benefits {
  background: #f9f9f9;
}

.benefits__container {
  padding-top: 75px;
  padding-bottom: 80px;
}

.benefits__title {
  margin-bottom: 48px;
}

.benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__card {
  max-width: 31.5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: #ffffff;
}

.benefits__img {
  margin-right: 19px;
  width: 48px;
  height: 48px;
}

.benefits__text {
  font-style: normal;
  font-size: 14px;
  color: #000000;
}

.benefits__card-title {
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 18px;
  margin-bottom: 12px;
}

.benefits__card-subtitle {
  font-weight: 400;
  line-height: 17px;
  color: #565656;
}

/* End benefits */

/* сertificates */

.certificates__container {
  padding-top: 90px;
}

.certificates__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.certificates__group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.certificates__btn {
  display: block;
  width: 56px;
  height: 56px;
  position: relative;
  border: 1px solid #d5d5d5;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  font-size: 0;
}

.certificates__btn-left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../img/arrow.svg) center center no-repeat;
}

.certificates__btn-left:hover {
  -webkit-transform: scale(1.1) rotate(90deg);
      -ms-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.certificates__btn-left::after {
  content: none;
}

.certificates__btn-rigth {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: url(../img/arrow.svg) center center no-repeat;
}

.certificates__btn-rigth:hover {
  -webkit-transform: scale(1.1) rotate(-90deg);
      -ms-transform: scale(1.1) rotate(-90deg);
          transform: scale(1.1) rotate(-90deg);
}

.certificates__btn-rigth::after {
  content: none;
}

.slide-container {
  width: 100%;
}

.slide-content {
  padding: 20px 0;
  overflow: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-image img {
  width: 100%;
  height: 100%;
}

/* End сertificates */

/* partners */

.partners__container {
  padding-top: 100px;
}

.partners__title {
  margin-bottom: 10px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 60px;
}

.partners__imeg {
  width: 100%;
  height: 100%;
}

.partners__dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 46px;
  padding-top: 46px;
  padding-bottom: 100px;
  width: 100% !important;
  border-top: 1px solid #e7e7e7;
}

/* End partners */

/* reviews */

.reviews {
  background: #f9f9f9;
}

.reviews__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 43px;
}

.reviews__group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.reviews__btn {
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid #d5d5d5;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  font-size: 0;
  position: relative;
}

.reviews__btn-left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../img/arrow.svg) center center no-repeat;
}

.reviews__btn-left:hover {
  -webkit-transform: scale(1.1) rotate(90deg);
      -ms-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.reviews__btn-left::after {
  content: none;
}

.reviews__btn-rigth {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: url(../img/arrow.svg) center center no-repeat;
}

.reviews__btn-rigth:hover {
  -webkit-transform: scale(1.1) rotate(-90deg);
      -ms-transform: scale(1.1) rotate(-90deg);
          transform: scale(1.1) rotate(-90deg);
}

.reviews__btn-rigth::after {
  content: none;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card {
  width: 50%;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  background: #ffffff;
  margin-bottom: 60px;
  position: relative;
  font-style: normal;
}

.reviews__card-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 12px;
}

.reviews__card-subtitle {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #565656;
  margin-bottom: 40px;
}

.reviews__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
}

.reviews__link {
  position: absolute;
  bottom: 25px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #098fcf;
}

.reviews__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__btn-bottom {
  padding-left: 65px;
  padding-right: 65px;
}

.slide-content-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* End reviews */

/* question */

.question {
  background-color: #024482;
}

.question__container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.question__title {
  color: #fff;
  margin-bottom: 32px;
}

.question__subtitle {
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}

.question__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.question__input {
  max-width: 273px;
  width: 100%;
  padding: 15px;
}

.question__btn {
  padding-left: 50px;
  padding-right: 50px;
}

.question__politic {
  font-size: 12px;
  line-height: 17px;
}

.question__link-polit {
  color: #fff;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
}

/* End question */

/* footer */

.footer {
  background: #f9f9f9;
}

.footer__top {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
  font-style: normal;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__img {
  margin-bottom: 17px;
  width: 100%;
  height: 45px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  margin-top: 15px;
}

.footer__list:not(:last-child) {
  margin-right: 80px;
}

.footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.footer__link {
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: #098fcf;
}

.footer__right-title {
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.footer__right-phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #098fcf;
}

.footer__bottom {
  background: #fff;
}

.footer__polit {
  display: inline-block;
  padding: 20px 0;
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__polit:hover {
  color: #098fcf;
}

/* End footer */

@media (min-width: 767px) {
  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    padding: 10px 0;
  }

  .menu__item:not(:last-child) {
    margin-right: 40px;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1120px) {
  .benefits__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits__card {
    max-width: 41.5%;
  }
}

@media (max-width: 991px) {
  .deliveryfuel__form-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .deliveryfuel__form-value {
    margin-top: 10px;
  }

  .footer__list:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 961px) {
  .reviews__card {
    height: 390px;
  }
}

@media (max-width: 769px) {
  .btn {
    font-size: 11px;
  }

  .title-h2 {
    font-size: 28px;
  }

  .arrow__blue::after {
    top: 15px;
  }

  .header__phone {
    font-size: 14px;
    margin-right: 5px;
  }

  .header__phone::before {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-left: -20px;
  }

  .header__btns-writetous {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__btns-personalarea {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__btns-personalarea::before {
    content: none;
  }

  .delivery {
    margin-top: 20px;
  }

  .delivery__title {
    font-size: 40px;
    line-height: 48px;
  }

  .delivery__form {
    margin-top: 20px;
    padding: 30px 15px;
  }

  .delivery__form-title {
    font-size: 28px;
  }

  .pricefuel {
    margin-top: 20px;
  }

  .pricefuel__title {
    margin-bottom: 20px;
  }

  td {
    font-size: 11px;
    padding: 10px 20px;
  }

  .deliveryfuel {
    margin-top: 20px;
  }

  .deliveryfuel__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .deliveryfuel__title {
    margin-bottom: 20px;
  }

  .deliveryfuel__form {
    gap: 30px;
  }

  .deliveryfuel__form-total {
    font-size: 18px;
    line-height: 24px;
  }

  .deliveryfuel__form-title {
    font-size: 12px;
    line-height: 100%;
  }

  .deliveryfuel__form-value {
    font-size: 12px;
    line-height: 100%;
  }

  .deliveryfuel__form-span {
    font-size: 16px;
    line-height: 100%;
  }

  .wework__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .wework__title {
    margin-bottom: 20px;
  }

  .wework__card-img {
    width: 30px;
    height: 30px;
  }

  .wework__card-time {
    font-size: 12px;
    line-height: 14px;
  }

  .wework__card-title {
    font-size: 16px;
    line-height: 18px;
  }

  .wework__card-subtitle {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .wework__card-lastsub {
    font-size: 10px;
    line-height: 120%;
  }

  .benefits__container {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .benefits__title {
    margin-bottom: 20px;
  }

  .benefits__cards {
    gap: 20px;
  }

  .benefits__text {
    font-size: 12px;
  }

  .certificates__container {
    padding-top: 20px;
  }

  .certificates__top {
    margin-bottom: 20px;
  }

  .slide-content {
    padding: 10px 10px;
  }

  .partners__container {
    padding-top: 20px;
  }

  .partners__dots {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reviews__top {
    margin-bottom: 20px;
  }

  .reviews__card {
    height: 420px;
    padding: 30px;
    margin-bottom: 30px;
  }

  .question__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .question__title {
    margin-bottom: 20px;
  }

  .question__subtitle {
    font-size: 12px;
  }

  .question__form {
    gap: 20px;
  }

  .question__input {
    padding: 10px;
  }

  .question__btn {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .menu__icon-burger {
    margin: 25px 0;
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon-burger span,
  .menu__icon-burger::before,
  .menu__icon-burger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #0fa6ec;
  }

  .menu__icon-burger::before,
  .menu__icon-burger::after {
    content: "";
  }

  .menu__icon-burger::before {
    top: 0;
  }

  .menu__icon-burger::after {
    bottom: 0;
  }

  .menu__icon-burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon-burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon-burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon-burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 186px 30px 30px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 9;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 130px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }

  .menu__list {
    display: block;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list ._active .menu__sub-list {
    display: block;
  }

  .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link {
    color: #fff;
    padding: 15px 0;
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

@media (max-width: 576px) {
  .btn {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .title-h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__phone {
    padding: 5px 0;
    margin-bottom: 5px;
  }

  .delivery__title {
    font-size: 32px;
    line-height: 38px;
  }

  .delivery__form-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .delivery__form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .delivery__form-card {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .delivery__form-btn {
    width: 100%;
  }

  .delivery__form-check {
    margin-top: 20px;
    font-size: 12px;
  }

  .pricefuel {
    margin-top: 10px;
  }

  .pricefuel__title {
    margin-bottom: 10px;
  }

  .td-oil {
    font-size: 16px;
    padding: 10px 15px;
  }

  td {
    font-size: 8px;
    line-height: 10px;
    padding: 10px 5px;
  }

  .deliveryfuel {
    margin-top: 10px;
  }

  .deliveryfuel__title {
    margin-bottom: 10px;
  }

  .deliveryfuel__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .deliveryfuel__form-left {
    max-width: 100%;
  }

  .deliveryfuel__input {
    max-width: 100%;
  }

  .deliveryfuel__form-right {
    padding: 30px;
  }

  .deliveryfuel__form-total {
    font-size: 24px;
    line-height: 29px;
  }

  .deliveryfuel__form-title {
    font-size: 16px;
    line-height: 140%;
  }

  .deliveryfuel__form-value {
    font-size: 16px;
    line-height: 140%;
  }

  .deliveryfuel__form-span {
    font-size: 18px;
    line-height: 22px;
  }

  .deliveryfuel__form-btn {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  #typeoffuel {
    max-width: 100%;
  }

  .wework__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wework__title {
    margin-bottom: 10px;
  }

  .wework__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wework__card {
    width: 100%;
  }

  .wework__card-img {
    width: 64px;
    height: 64px;
  }

  .wework__card-time {
    font-size: 15px;
    line-height: 18px;
  }

  .wework__card-title {
    font-size: 21px;
    line-height: 26px;
  }

  .wework__card-subtitle {
    font-size: 16px;
    line-height: 140%;
  }

  .benefits__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .benefits__title {
    margin-bottom: 10px;
  }

  .benefits__card {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .benefits__img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .certificates__group-btns {
    display: none;
  }

  .reviews__top {
    margin-bottom: 10px;
  }

  .reviews__group-btns {
    display: none;
  }

  .question__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .question__input {
    max-width: 100%;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__left {
    margin-top: 15px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__list:not(:last-child) {
    margin-right: 50px;
  }

  .footer__item {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer__right-title {
    text-align: center;
  }

  .footer__right-phone {
    font-size: 22px;
  }
}

@media (max-width: 340px) {
  .td-oil {
    font-size: 8px;
    padding: 5px 10px;
  }

  table {
    table-layout: fixed;
  }

  th,
  td {
    word-wrap: break-word;
  }
}